@page "/profile/"
@page "/profile/join-family/{familyCode}"
@attribute [Authorize]
@inject UserAuthenticationStateProvider _userAuthenticationStateProvider
@inject IBrowserStorageService _browserStorageService
@inject IUserService _userService
@inject IFamilyService _familyService
@inject IJSRuntime _jsRuntime

<PageTitle>Profile</PageTitle>

<div class="text-center">

    <img src='@($"{_userAuthenticationStateProvider.CurrentUser.PictureUri}?width=128")'
        style="border-radius:50%;height:128px;"
        alt="@(_userAuthenticationStateProvider.CurrentUser.FirstName + ' ' + _userAuthenticationStateProvider.CurrentUser.LastName)" />
    <h1>
        @_userAuthenticationStateProvider.CurrentUser.FirstName
        @_userAuthenticationStateProvider.CurrentUser.LastName
    </h1>
</div>
<div class="mb-3">
    @if (_userResponse.IsProcessing)
    {
        <p>Loading User Profile...</p>
    }
    else
    {
        if (_userResponse.IsError)
        {
            <p class="text-center text-danger">There was an error retrieving the user profile.</p>
        }
        else
        {
            <div class="mt-4">
                <AddEditFamily FamilyId="@_userResponse.Value.FamilyId"
                    OnCreateFamily="async () => await LoadUser(CancellationToken.None)"
                    OnLeaveFamily="async () => await LoadUser(CancellationToken.None)"
                    OnJoinFamily="async () => await LoadUser(CancellationToken.None)" JoinFamilyCode="@FamilyCode" />
            </div>
        }
    }
</div>

<hr class="mt-5">
<div class="text-center pt-4">
    <a class="btn btn-danger px-5" href="signout">Sign Out</a>
</div>

<hr class="mt-5">
<h4>For Developers</h4>
<div class="row py-3 align-items-middle">
    <div class="col">
        <div class="fw-bold">Current Access Token</div>
        <div class="text-muted @displayCopySuccessCss">Copied!</div>
    </div>
    <div class="col-auto py-2">
        <button class="btn btn-primary" @onclick="CopyAccessTokenToClipboard">
            <i class="fa-regular fa-copy"></i>
        </button>
    </div>
</div>

<div id="accessTokenText" class="p-2 font-monospace bg-light text-break border">
    @_accessToken
</div>




@code
{
    [Parameter] public string? FamilyCode { get; set; }

    private bool _isBusy_User = true;

    private string _accessToken = string.Empty;
    private ApiResult<UserResponse> _userResponse = new();
    private FamilyResponse? _familyResponse;

    protected override async Task OnInitializedAsync()
    {
        _accessToken = await _browserStorageService.GetAccessTokenAsync();
        await LoadUser(CancellationToken.None);
        await _userAuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    private async Task LoadUser(CancellationToken cancellationToken)
    {
        _userResponse = await _userService.GetUserAsync(cancellationToken);
        StateHasChanged();
    }


    private string displayCopySuccessCss = "d-none";

    private async Task CopyAccessTokenToClipboard()
    {
        await _jsRuntime.InvokeVoidAsync("copyTextInElement", "accessTokenText");
        displayCopySuccessCss = "";
    }
}