@page "/meals/add"

<PageTitle>Add Meal</PageTitle>
<h1>Add Meal</h1>
<form method="post" @onsubmit="Submit">
    <div class="mb-3">
        <label for="nameInput" class="form-label">Meal Name</label>
        <InputText @bind-Value="@Model.Name" class="form-control" id="nameInput" />
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">
            Description
            <span class="text-muted">(optional)</span>
        </label>
        <InputTextArea @bind-Value="@Model.Description" class="form-control" id="descriptionInput" />
    </div>

    <div class='contaier'>
        <div class='row'>
            <div class='col'>
                <h4>Dishes</h4>
            </div>
            <div class='col-auto'>
                <button type='button' class='btn btn-sm btn-primary' @onclick='AddPart'>Add Dish</button>
            </div>
        </div>
    </div>

    @if (Model.Parts.Count == 0)
    {
        <div class="border rounded p-5 text-center text-muted">
            No dishes added yet.
        </div>
    }

    @foreach (var part in Model.Parts)
    {
        <div class="border rounded mb-2 p-2">
            <div class="mb-3">
                <label for="dishCategory{Model.Parts.IndexOf(part)}Input" class="form-label">Category</label>
                <InputSelect @bind-Value="@part.Category" id="@($"dishCategory{Model.Parts.IndexOf(part)}Input")"
                    class="form-select" aria-label="Dish Category">
                    @foreach (var category in Enum.GetValues(typeof(MealPartCategory)))
                    {
                        <option value="@category">@category.ToString()</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="dishName{Model.Parts.IndexOf(part)}Input" class="form-label" aria-label="Dish Name">Name</label>
                <InputText @bind-Value="@part.Name" id="@($"dishName{Model.Parts.IndexOf(part)}Input")"
                    class="form-control" />
            </div>
            <div class="mb-3">
                <label for="dishDescription{Model.Parts.IndexOf(part)}Input" class="form-label">
                    Description
                    <span class="text-muted">(optional)</span>
                </label>
                <InputTextArea @bind-Value="@Model.Description" id="dishDescription{Model.Parts.IndexOf(part)}Input"
                    class="form-control" />
            </div>
            <div class="mb-3">
                <label for="dishUrl{Model.Parts.IndexOf(part)}Input" class="form-label" aria-label="Dish Name">Url</label>
                <InputText @bind-Value="@part.Url" id="@($"dishUrl{Model.Parts.IndexOf(part)}Input")"
                    class="form-control" />
            </div>
        </div>
    }

    <div class="my-2 text-center">
        <button type="submit" class="btn btn-primary">Save Meal</button>
    </div>
</form>

@code
{
    [SupplyParameterFromForm]
    private MealFormModel? Model { get; set; }

    protected override void OnInitialized() => Model ??= new MealFormModel { Name = "" };
    private void AddPart()
    {
        var part = new MealFormModel.MealPartFormModel();
        Model!.Parts.Add(part);
    }

    private void Submit() => Console.WriteLine("Submit");
}