@using MealBot.Web.Features.User.FormModels
@inject IFamilyService _familyService
@inject IHttpClientFactory _httpClientFactory

<h4>Family</h4>
@if (_isBusy)
{
    <p>Loading...</p>
}
else if (FamilyId is not null)
{
    if (_familyResponse.IsProcessing)
    {
        <p>Loading...</p>
    }
    else if (_familyResponse.IsError)
    {
        <p class="text-center text-danger">There was an error loading the family.</p>
    }
    else
    {
        <p class="fw-bold">@_familyResponse.Value.Name</p>
        <p>@_familyResponse.Value.Description</p>
        <p>
            Family Code: <code>@_familyResponse.Value.Code</code>
        </p>
        @foreach (var member in _familyResponse.Value.Members ?? [])
        {
            <div class="row ms-2">
                <div class="col-1">
                    <img src='@($"{_profileImageUrl}users/{member.UserId}/profile-images")' alt="@member.FirstName @member.LastName"
                        height="32" class="rounded-circle" />
                </div>
                <div class="col-11">
                    <p>@member.FirstName @member.LastName</p>
                </div>
            </div>
        }
        <div class="text-end">
            <button class="btn btn-sm btn-danger" type="button" @onclick="LeaveFamily">
                Leave Family
            </button>
        </div>
    }
}
else
{
    <div class="row">
        @if (_isCreatingFamily)
        {
            <form @onsubmit="CreateFamily">
                <div class="row mb-3">
                    <label for="familyNameInput" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <InputText @bind-Value="CreateFamilyModel.Name" class="form-control" id="familyNameInput" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="familyDescriptionInput" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <InputTextArea @bind-Value="CreateFamilyModel.Description" class="form-control"
                            id="familyDescriptionInput" />
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        }
        else if (_isJoiningFamily)
        {
            <form @onsubmit="JoinFamily">
                <div class="row mb-3">
                    <label for="familyCodeInput" class="col-sm-3 col-form-label">Family Code</label>
                    <div class="col-sm-9">
                        <InputText @bind-Value="JoinFamilyModel.FamilyCode" class="form-control" id="familyCodeInput" />
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary">Join</button>
                </div>
            </form>
        }
        else
        {
            <div class="col p-4 text-center">
                <button class="mx-auto btn btn-primary" type="button" @onclick="() => _isJoiningFamily = true">
                    Join Family
                </button>
            </div>
            <div class="col p-4 text-center">
                <button class="mx-auto btn btn-primary" type="button" @onclick="() => _isCreatingFamily = true">
                    Create Family
                </button>
            </div>
        }
    </div>
}
@code
{
    [SupplyParameterFromForm]
    private CreateFamilyFormModel? CreateFamilyModel { get; set; } = new();
    [SupplyParameterFromForm]
    private JoinFamilyFormModel? JoinFamilyModel { get; set; } = new();

    [Parameter] public Guid? FamilyId { get; set; }
    [Parameter] public EventCallback<FamilyResponse> OnCreateFamily { get; set; }
    [Parameter] public EventCallback OnLeaveFamily { get; set; }
    [Parameter] public EventCallback OnJoinFamily { get; set; }

    private bool _isBusy = true;
    private bool _isCreatingFamily = false;
    private bool _isJoiningFamily = false;

    private ApiResult<FamilyResponse> _familyResponse = new();
    private string _profileImageUrl = "";

    protected override async Task OnParametersSetAsync()
    {
        await LoadFamily(CancellationToken.None);
    }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = _httpClientFactory.CreateClient();
        _profileImageUrl = $"{httpClient.BaseAddress}";
    }
}

@functions {
    private async Task LoadFamily(CancellationToken cancellationToken)
    {
        _isBusy = true;
        if (FamilyId is not null)
        {
            _familyResponse = await _familyService.GetFamilyAsync((Guid)FamilyId, cancellationToken);
        }
        _isBusy = false;
    }
    private async Task JoinFamily()
    {
        Console.WriteLine("Joining Family");
        if (FamilyId is not null)
        {
            Console.WriteLine("FamilyId is null");
            return;
        }

        _isBusy = true;
        await _familyService.JoinFamilyAsync(JoinFamilyModel.FamilyCode, CancellationToken.None);
        await OnJoinFamily.InvokeAsync();
        _isBusy = false;
    }
    private async Task CreateFamily()
    {
        _isBusy = true;
        _familyResponse = await _familyService.CreateFamilyAsync(CreateFamilyModel.Name, CreateFamilyModel.Description,
        CancellationToken.None);
        await OnCreateFamily.InvokeAsync(_familyResponse.Value);
        CreateFamilyModel = new();
        _isCreatingFamily = false;
        _isBusy = false;
    }
    private async Task LeaveFamily()
    {
        if (FamilyId is null)
        {
            return;
        }

        _isBusy = true;
        await _familyService.LeaveFamilyAsync((Guid)FamilyId, CancellationToken.None);
        await OnLeaveFamily.InvokeAsync();
        _isBusy = false;
    }
}