<div class="w-100">
    <div class="row">
        <div class="col">
            <h4>@Meal.Name</h4>
        </div>
        <p class="text-secondary">@Meal.Description</p>
        @foreach (var mealPart in Meal.MealParts ?? [])
        {
            <MealPartRow MealPart="mealPart" />
        }
    </div>
    <div class="row my-1">
        <div class="col text-start">
            <div class="border-top pt-2">
                <ProfilePicture UserId="@Meal.OwnerUserId" FirstName="@Meal.OwnerFirstName"
                    LastName="@Meal.OwnerLastName" />
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public required MealResponse Meal { get; set; }
}